@import 'public';
body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

.header {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-bottom: 4px solid #ff464e;
    .head-con {
        width: 980px;
        height: 76px;
        margin: 0 auto;
        position: relative;
        .logo {
            left: 0;
            top: 14px;
            width: 210px;
            height: 56px;
            display: block;
            position: absolute;
            background: url(../img/header-total.gif) no-repeat -78px -217px;
        }
        .pro {
            right: 10px;
            top: 24px;
            background-position: 0 0;
            height: 33px;
            width: 465px;
            position: absolute;
            background: url(../img/header-total.gif) no-repeat 0 0;
            a {
                display: block;
                float: left;
                height: 31px;
                margin: 0 0px 0 34px;
            }
            .update {
                width: 98px;
            }
            .lowest {
                margin-left: 75px;
                width: 85px;
            }
            .check {
                width: 110px;
            }
        }
    }
}

.main {
    width: 980px;
    margin: 0 auto;
    .login-main {
        width: 980px;
        margin: 20px auto 0;
        .login-con {
            width: 978px;
            position: relative;
            background: #fff;
            overflow: hidden;
            border: 1px solid #e2e2e2;
            padding-bottom: 50px;
            .title {
                width: 878px;
                padding: 20px 50px;
                border-bottom: #e2e2e2 solid 1px;
                overflow: hidden;
                .hd {
                    color: #ff464e;
                    font-size: 16px;
                    font-family: "微软雅黑", "宋体";
                    margin-right: 10px;
                    background: url(../img/hd-bg.gif) no-repeat center right;
                    padding-right: 20px;
                    float: left;
                }
                .tips {
                    color: #666;
                    float: left;
                    margin-top: 3px;
                }
                .other {
                    float: right;
                    font-size: 14px;
                    color: #999;
                    a {
                        color: #0289CD;
                    }
                }
            }
            .login-center {
                padding: 30px 80px 0 80px;
                width: 818px;
                height: auto;
                overflow: hidden;
                position: relative;
                .center-left {
                    width: 450px;
                    float: left;
                    display: inline;
                    .node {
                        padding-bottom: 25px;
                        overflow: visible;
                        height: auto;
                        position: relative;
                        height: 45px;
                        clear: both;
                    }
                    .normal {
                        width: 80px;
                        text-align: right;
                        float: left;
                        display: inline;
                        height: 20px;
                        margin-top: 8px;
                        font-size: 14px;
                    }
                    #uname,
                    #upwd {
                        color: #666;
                        padding: 12px 0 12px 10px;
                        border: 1px solid #c6c6c6;
                        height: 14px;
                        line-height: 14px;
                        width: 250px;
                        float: left;
                    }
                    // u {
                    //     width: 16px;
                    //     height: 16px;
                    //     background: url(../img/login.gif) no-repeat 0 -19px;
                    //     display: inline-block;
                    //     margin-right: 3px;
                    //     margin: 11px;
                    //     display: none;
                    // }
                    i {
                        color: red;
                        display: block;
                        position: absolute;
                        top: 42px;
                        left: 90px;
                    }
                    .yzm {
                        color: #666;
                        padding: 12px 0 12px 10px;
                        border: 1px solid #c6c6c6;
                        height: 14px;
                        line-height: 14px;
                        width: 130px;
                        float: left;
                    }
                    .ver-code {
                        width: 110px;
                        float: left;
                        margin-left: 10px;
                        height: 40px;
                        .vcode {
                            display: block;
                            background: #e2e2e2;
                            width: 110px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            cursor: not-allowed;
                            color: #666;
                            border: none;
                        }
                    }
                    .chex-d {
                        padding-bottom: 8px;
                        height: 20px;
                        .chex {
                            width: 280px;
                            float: left;
                            color: #5e5e5e;
                            input {
                                vertical-align: -2px;
                                margin-right: 5px;
                            }
                            a {
                                color: #999;
                            }
                            a:hover {
                                color: #ff464e;
                            }
                        }
                    }
                    .btn {
                        float: left;
                        width: 260px;
                        input {
                            width: 260px;
                            height: 40px;
                            cursor: pointer;
                            font-size: 16px;
                            border-radius: 2px;
                            border: 0;
                            color: #fff;
                            background: url(../img/new-login.gif);
                        }
                    }
                }
                .center-right {
                    margin: 20px 0 0 0;
                    overflow: hidden;
                    width: 358px;
                    text-align: right;
                }
            }
        }
        .foot-tips {
            text-align: center;
            margin: 40px auto 40px;
            width: 900px;
            color: #666;
        }
        .ft {
            color: #666;
        }
    }
}